#page {
  &.row {
    max-width: none;
  }
  a {
    color: $gb;
    &:visited {
      color: $gb;
    }
    &:hover {
      color: $dgb;
    }
  }
}
#secondary {
  background-color: $gray;
}
#content {
  padding: 2em 0 0 2em;
}
.attachment-thumbnail {
  float: left;
  padding-right: 1em;
}