.button-group.stack > {
  li, dl {
    display: block;
    float: none;
    a.button {
      width: 100%;
      margin: 0 0 1px;
    }
  }
}
h2, h3, h4 {
  color: $dgray;
}
#secondary {
  .button-group>li>button, .button-group>li .button {
    border: none;
  }
  .button {
    font-family: $exo;
  }
}
#page {
  a.button {
    color: $gray;
    background-color: $gb;
    &:hover {
      color: $white;
      background-color: $dgb;
    }
  }
}
#masthead, #secondary {
  h1, h2, h3 {
    padding: 0.3em;
  }
}
#secondary {
  .off-canvas-wrap {
    a.left-off-canvas-toggle {
      background-color: $gb;
      color: $white;
      padding: 15px;
      display: inline-block;
      border-right: 1px solid $white;
      width: 100%;
      .dashicons {
        font-size: 1em;
      }
    }
  }
  .move-right {
    .left-off-canvas-menu {
      position: relative;
      margin: -46px 0 0 0;
      width: 20.625rem;
      left: 5em;
    }
    a.left-off-canvas-toggle {
      padding-left: 6em;
    }
  }
}
#topics {
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
      li {
        a {
          border-bottom: 1px solid $gray;
          &:hover {
            background-color: $gb;
            color: $white;
          }
        }
      }
  }
}
button {
  background: $maingray;
  box-shadow: none;
  border: none;
}