.button-group.stack > li {
  display: block;
  float: none;
  a {
    width: 100%;
    margin: 0 0 1px;
  }
}
h2, h3 {
  color: $dgray;
}
#secondary {
  .button-group>li>button, .button-group>li .button {
    border: none;
  }
}