body {
  font-family: $poiret;
}
#main {
  font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $exo;
}
p {
  font-size: 1.2rem;
}
#secondary {
  font-family: $exo;
  .dashicons {
    font-size: 1.4em;
    width: auto;
    height: auto;
    float: left;
  }
}