header {
  &#masthead {
    padding: 0;
  }
  .site-branding {
    background-color: $gray;
      h1, h2 {
        font-family: $exo;
        margin-bottom: 0;
      }
    h1 {
      a {
      color: $gb;
      }
    }
  }
  .main-navigation {
    clear: none;
  }
  .logo {
    margin: 0 auto;
  }
}
.page-title, .entry-title {
  color: $dgray;
}
@media only screen and (max-width: $small) {
  .logo {
    max-width: 150px;
  }
}
@media only screen and (min-width: $small) and (max-width: $medium) {
  .logo {
    max-width: 200px;
  }
}