/* Colors */
$white: #ffffff;
$gray: #F3F3F3;
$dgray: #A7A7A7;
$gb: #828DB6;
$dgb: #4C6196;
$maingray: #5c5c5c;

/* Fonts */
$poiret: 'Open Sans', sans-serif;
$exo: 'Exo', sans-serif;

/* Breaks */
$small: 40em;
$medium: 64em;
$large: 90em;